<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
{% if color %}
<body bgcolor="{{ color }}"">
{% else %}
<body bgcolor="#05164B" text="#FFCF3D">
{% endif %}
    <h1>ROBERTSILVATECH TREINAMENTOS</h1>
    <h2>Aprenda Docker e Kubernetes</h2>
    {% if version %}
    <h3>Versão: {{ version }}</h3>
    {% else %}
    <h3>Versão: 1.0.0</h3>
    {% endif %}
</body>
</html>